
{% extends "layout.html" %}
{% block body %}

    <!-- Header -->
    <header class="hero text-center">
        <div class="hero-content">
            <div class="container">
                <h1 class="hero-heading mb-0">Cave du Vins</h1>
                <h2 class="hero-subheading mb-0">An online cellar of fine wine</h2>
                <a href="#browse" class="btn btn-yellow btn-large btn-xl rounded-pill mt-5">Browse Wines</a>
            </div>
        </div>
    </header>

    <!-- Add Wine Section -->
    <section>

        <h3 class="text-center pt-5 mb-5">add wine</h3>

        <div class="search ml-auto mr-auto">
            <form action="{{ url_for('add_wine') }}" method="post" class="searchform">
                <div>
                    <div>
                        <label for="name">Wine Name</label>
                        <br>
                        <input type="text" name="name" id="name" minlength="3" class="searchitem">
                    </div>
                    <div class="searchvintage">
                        <label for="vintage">Vintage</label>
                        <br>
                        <input type="text" name="vintage" id="vintage" minlength="3" class="searchitem">
                    </div>
                    <div class="searchcolour">
                        <label for="colour">Colour</label>
                        <br>
                        <select name="colour" id="colour" class="searchitem">
                            <option value="select"></option>
                            {% for document in colours %}
                            <option value="{{ document.colour }}">{{ document.colour }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="searchcountry">
                        <label for="country">Country</label>
                        <br>
                        <select name="country" id="country" class="searchitem">
                            <option value="select"></option>
                            {% for document in country %}
                            <option value="{{ document.country }}">{{ document.country }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="searchregion">
                        <label for="region">Region</label>
                        <br>
                        <select name="region" id="region" class="searchitem">
                            <option value="select"></option>
                            {% for document in region %}
                            <option value="{{ document.region }}">{{ document.region }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" 
                        class="btn btn-yellow btn-medium btn-xl rounded-pill mt-5 ml-auto mr-auto"> 
                        <i class="fas fa-search"></i> Add
                    </button>
                    <button type="reset" 
                        class="btn btn-blue btn-medium btn-xl rounded-pill mt-5 ml-auto mr-auto"> 
                        <a href="{{ url_for('populate_form') }}" >
                        <i class=""></i> Reset</a>
                    </button>
                </div>
            </form>
        </div>
    </section>

{% endblock %}
