
{% extends "layout.html" %}
{% block body %}

    <!-- Header -->
    <header class="hero text-center">
        <div class="hero-content">
            <div class="container">
                <div>
                    <h1>Add Tasting Note for {{ wine.wine_name }}, {{ wine.vintage }}</h1>
                </div>
                <form method="POST" action="{{ url_for('add_tasting_note', wine_id=wine._id) }}">
                    <div class="row">
                        <input type="text" class="login ml-auto mb-1" name="add_tasting_note" placeholder="Type here ...">
                    </div>
                    <button type="submit" class="btn btn-yellow mt-2">Add</button>
                </form>
                <br>
            </div>
        </div>
    </header>

{% endblock %}