
{% extends "layout.html" %}
{% block body %}

    <!-- Header -->
    <header class="hero text-center">
        <div class="hero-content">
            <div class="container">
                <div>
                    <h3>Select the {{ category_id }} from the list below to delete...</h3>
                </div>
                <br>
                <form method="POST" action="{{ url_for('delete_category', category_id=category_id) }}">
                    <div>
                        <select name="category" id="category" class="deleteitem">
                            <option value="select"></option>
                            {% if category_id == "country" %}
                                {% for document in country %}
                                    <option value="{{ document.country }}">{{ document.country }}</option>
                                {% endfor %}
                            {% endif %}
                            {% if category_id == "region" %}
                                {% for document in region %}
                                    <option value="{{ document.region }}">{{ document.region }}</option>
                                {% endfor %}
                            {% endif %}
                            {% if category_id == "grape" %}
                                {% for document in grape %}
                                    <option value="{{ document.grape }}">{{ document.grape }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-blue rounded-pill mt-2">Delete</button>
                </form>
                <br>
            </div>
        </div>
        <!-- Delete Alert Flash -->
        <div class="flashmessage ml-auto mr-auto mt-0">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </header>


{% endblock %}