<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cave du Vins</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='/css/one-page-wonder.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='/css/style.css') }}" rel="stylesheet">

  <!-- Fontawesome fonts -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
        <div class="container">
            {% if user_name %}
                <a class="navbar-brand" href="{{ url_for('index') }}">{{ user_name }}</a>
            {% else %}
                <a class="navbar-brand" href="{{ url_for('index') }}">Cave du Vins</a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('register') }}"  >Sign Up</a>
                    </li>
                    <li class="nav-item">
                        {% if user_name != 'Cave du Vins' %}
                            <a class="nav-link" href="{{ url_for('logout') }}"  >Log Out</a>
                        {% else %}
                            <a class="nav-link" href="{{ url_for('login_page') }}" >Log In</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('search_page') }}">Browse Wines</a>
                    </li>
                    <li class="nav-item">
                        {% if user_name != 'Cave du Vins' %}
                            <a class="nav-link" href="{{ url_for('add_wine_page') }}">Add Wine</a>
                        {% else %}
                            <a class="nav-link disabled" href="#">Add Wine</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

{% block body %}{% endblock %}

    <!-- Footer -->
    <footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Cave Du Vins 2020</p>
    </div>
    <!-- /.container -->
    </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='/vendor/bootstrap/js/bootstrap.min.js') }}"></script>

</body>

</html>
