<!-- Credit: https://edubanq.com/programming/mongodb/creating-a-user-login-system-using-python-flask-and-mongodb/ -->

{% extends "layout.html" %}
{% block body %}

    <!-- Header -->
    <header class="hero text-center">
        <div class="hero-content">
            <div class="container loginform mt-3">
                <form method="POST" action="{{ url_for('register') }}">
                    {% if register_error %}
                        <h6 class="logintext">{{ register_error }}</h6>
                    {% endif %}
                    <div class="row">
                        <label for="InputUsername1" class="logintext pr-2" >Username:</label>
                        <input type="text" class="login ml-auto mb-1" name="username" placeholder="Username">
                    </div>
                    <div class="row">
                        <label for="InputPassword1" class="logintext pr-2" >Password:</label>
                        <input type="password" class="login ml-auto mb-1" name="pass" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-yellow mt-2">Register</button>
                </form>
                <br>
            </div>
            <p class="ml-3 mr-3 passwordtext">Password should be 6 to 10 characters long, with at least: 1 lowercase, 1 uppercase, 1 numeral and 1 special character ($, @, #, % or !)</p>
        </div>
    </header>

{% endblock %}